{% extends "databaseapp/base.html" %}

{% block content %}
    <p>Selected period:</p>
<ul>
    <li>{{date_start}}</li>
    <li>{{date_end}}</li>
</ul>

<table>
    <tr>
        <th>Room:</th>
        <th>Floor:</th>
        <th>Size:</th>
        <th>Price:</th>
        <th>Animals:</th>
        {% if user != 0 %}
            <th></th>
        {% endif %}
    </tr>
     {% if rooms %}
        {% for room in rooms %}
            <tr>
                <th>{{ room.number }} </th>
                <th>{{ room.floor}} </th>
                <th>{{ room.size}} </th>
                <th>{{ room.price}} </th>
                <th>{{ room.animals}} </th>
                {% if user != 0 %}
                    <th><a href = "../{{room.room_id}}/addReservation/{{date_start.year}}-{{date_start.month}}-{{date_start.day}}_{{date_end.year}}-{{date_end.month}}-{{date_end.day}}"> Book now </a> </th>
                {% endif %}
            </tr>
        {% endfor %}    
    {% else %}
        <tr><th>No available rooms match your criteria.</th></tr>
    {% endif %}
    
</table>
    
{% endblock content %} 