{% extends "databaseapp/base.html" %}
{% load bootstrap4 %}
{% block content %} 
    <div class="jumbotron">

        <h4>Select a hotel:</h4> 
        <form action="{% url 'databaseapp:guests' %}" method='post' class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <!--{{form.as_p}}-->
            {% buttons %}
                <button name="searchBtn" type="submit" class="btn btn-light">Go</button>
            {% endbuttons %}
        </form>
    </div>

{% if checked %}
    {%if guests_list %}
    <table class="table">
    <tr>
        <th>First Name:</th>
        <th>Last Name:</th>
        <th>Room:</th>
        <th>Check-In:</th>
        <th>Check-Out:</th>
    </tr>
        {% for h, room, f, fname, sname, dates, datee in guests_list %}
            <tr>
                <th>{{ fname }} </th>
                <th>{{ sname}} </th>
                <th>{{ room}} </th>
                <th>{{ dates}} </th>
                <th>{{ datee}} </th>
            </tr>
         {% endfor %}
</table>
    {% else %}
        No guests in current hotel
    {% endif %}
{% endif %}
{% endblock content %} 