{% extends "databaseapp/base.html" %}

{% block content %} 
<p>User: {{user}}</p>
    <p>Book your dream room in comfortable conditions throughout Poland!</p>
    <div class="basic_buttons">
        <input type="button" onclick="location.href='signUp';" value="Sign Up" />
        <input type="button" onclick="location.href='login';" value="Sign in" />
        <input type="button" onclick="location.href='browse';" value="Show free rooms" />
        <input type="button" onclick="location.href='admin';" value="dasfas" />
    </div>
    
    {% if user_list %}
        <ul>
        {% for user in user_list %}
            <li><a href="/users/{{ user.user_id }}/">{{ user.surname }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %} 
    