{% extends "databaseapp/base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="loginform">
        {% block page_header %}
            <h2>Login panel:</h2> 
        {% endblock page_header %}
            <form action="{% url 'databaseapp:login' %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!--{{form.as_p}}-->
        {% buttons %}
            <button name="signUpBtn" type="submit">Sign in</button>
        {% endbuttons %}
        </form>
    </div>
    
{% endblock content %} 