{% extends "databaseapp/base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="pwdForm">
        {% block page_header %}
            <h2>Change password:</h2> 
        {% endblock page_header %}
            <form action="{% url 'databaseapp:password' %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!--{{form.as_p}}-->
        {% buttons %}
            <button name="signUpBtn" type="submit">Change</button>
        {% endbuttons %}
        </form>
    </div>
    
{% endblock content %} 