{% extends "databaseapp/base.html" %}
{% load bootstrap4 %}
{% block content %} 
    {% block page_header %}
        <div class="jumbotron">
            <h4>Current prices in our hotels:</h4>
        </div>
    {% endblock page_header %}
    <table class="table">
        <tr>
            <th></th>
            <th>Address:</th>
            <th>Lowest room price:</th>
            <th>Mean room price:</th>
            <th>Highest room price:</th>
        </tr>
            {% for h, city, street, number, pc, low, high, mean in hotels %}
                <tr>
                    <th>{{ h }} </th>
                    <th>{{ city}}, {{street}} {{number}} </th>
                    <th>{{ low }} </th>
                    <th>{{ mean}} </th>
                    <th>{{ high}} </th>
                </tr>
             {% endfor %}
    </table>
{% endblock content %} 