{% extends "databaseapp/base.html" %}

{% block content %} 
     <div class="signupbuttons">
        <label for="userlogin">Your login:</label> 
        <input type="text" name="userlogin" id="userlogin" />
        <br>
        <label for="userpassword">Your password:</label> 
        <input type="password" name="userpassword" id="userpassword" />
        <br>
        <label for="useremail">Your email:</label> 
        <input type="text" name="useremail" id="useremail" />
        <br>
        <label for="userphone">Your phone:</label> 
        <input type="text" name="userphone" id="userphone" />
        <br>
        <label for="username">Your name:</label> 
        <input type="text" name="username" id="username" />
        <br>
        <label for="usersurname">Your surname:</label> 
        <input type="text" name="usersurname" id="usersurname" />
         <br>
    </div>
{% endblock content %} 