{% extends "databaseapp/base.html" %}

{% block content %}
    <div class="userbuttons">
        <input type="button" onclick="location.href={% url 'databaseapp:addReservation' %}" value="Add reservation" />
        <br>
        <input type="button" onclick="location.href={% url 'databaseapp:deleteReservation' %}" value="Delete reservation" />
        <br>
        <input type="button" onclick="location.href={% url 'databaseapp:showUserReservation' %}" value="Show my reservations" />

    </div>
    
{% endblock content %} 